*{
    margin:0%;
    padding: 0%;
}
body{
    height: 100%;
    overflow-;
}
.p1{
    font-size: 30px;
    color: white;
}
body{
    background-color: burlywood;
}
.navBar{
    
    display: flex;
    justify-content: space-between;
    background-color:#d5a581;


}
 .navIcon {
    list-style: none;
    margin-top: 17px;
   font-size: 20px;
   display: flex;
   gap: 30px;
}
.navIcon li {
   text-decoration: ;
}
.cart1{
    margin-top: 150px;
    margin-left: 450px;
}
.footer{
    background-color: #d5a581 ;
    font-size: 30px;
    color: white;
    margin-top: 5px;
    text-align: center;
}
.footer:hover{
    color: indigo;
}
a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:green;
    text-decoration: underline;
}
.marquee1{
    font-family:'Times New Roman', Times, serif;
    direction: right;
}
.iframe{
    margin-top: 30px;
    margin-left: 80px;
}
