*{
    margin:0%;
    padding: 0%;
}
.p1{
    font-size: 30px;
    color: white;
}
.navBar{
    
    display: flex;
    justify-content: space-between;
    background-color:rgba(38, 38, 148, 0.671);


}
 .navIcon {
    list-style: none;
    margin-top: 17px;
   font-size: 20px;
   display: flex;
   gap: 30px;
}
.navIcon li {
   text-decoration: ;
}
.cart1{
    margin-top: 150px;
    margin-left: 450px;
}
.footer{
    background-color: black;
    font-size: 20px;
    color: white;
    margin-top: 300px;
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}
